{% extends 'customer/base.html' %}

{% block content %}
<nav class="fixed-top">
      <div class="logo"><i class="fas fa-utensils"></i> <i class="fas fa-pizza-slice"></i></div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="about/">About</a></li>
        <li><a href="order/">Order</a></li>
        <li><a href="https://tarce09.github.io/portfolio/">contact</a></li>
      </ul>
    </nav>
<div class="big-image">
  <div class="overlay">
    <h1><span id="title">ZAYKEDAAR</span></h1>
    <div class="order-btn-main">SERVED WITH <span class="love">LOVE <i class="fab fa-gratipay"></i></span></div>
  </div>
</div>


{% endblock content %}